flow3.json
[
    {
        "id": "1f4ad5c826098962",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bd537593568843b8",
        "type": "mqtt in",
        "z": "1f4ad5c826098962",
        "name": "",
        "topic": "sic/flow3/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "07a3bade619c78f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "fbbc5ab515eb8adf"
            ]
        ]
    },
    {
        "id": "fbbc5ab515eb8adf",
        "type": "json",
        "z": "1f4ad5c826098962",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "2def1330e086c354",
                "73341ee696ba6e9a",
                "82165294df44d51b"
            ]
        ]
    },
    {
        "id": "2def1330e086c354",
        "type": "function",
        "z": "1f4ad5c826098962",
        "name": "",
        "func": "msg. payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            [
                "9dfdf5062534a19e"
            ]
        ]
    },
    {
        "id": "73341ee696ba6e9a",
        "type": "function",
        "z": "1f4ad5c826098962",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "44037cc8f940eeb8"
            ]
        ]
    },
    {
        "id": "82165294df44d51b",
        "type": "function",
        "z": "1f4ad5c826098962",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "dd3d5335ea087c53"
            ]
        ]
    },
    {
        "id": "9dfdf5062534a19e",
        "type": "ui_text",
        "z": "1f4ad5c826098962",
        "group": "7660e3d97a217ef8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nombre",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "44037cc8f940eeb8",
        "type": "ui_gauge",
        "z": "1f4ad5c826098962",
        "name": "",
        "group": "7660e3d97a217ef8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ªC",
        "format": "{{value}}",
        "min": "-30",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "dd3d5335ea087c53",
        "type": "ui_chart",
        "z": "1f4ad5c826098962",
        "name": "",
        "group": "bdce8fb690ef6c77",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Historico de temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 870,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "07a3bade619c78f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.158.119",
        "port": "1883",
        "clientid": "edgar-SIC-45878",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7660e3d97a217ef8",
        "type": "ui_group",
        "name": "Valores actuales",
        "tab": "c76bf9ca0af118e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bdce8fb690ef6c77",
        "type": "ui_group",
        "name": "Historico",
        "tab": "c76bf9ca0af118e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c76bf9ca0af118e4",
        "type": "ui_tab",
        "name": "flow3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
